[2021-01-12 16:21] Samuel-Martineau opened #1 "Support Firefox"
Do you have any intention to publish this extension to the Firefox addons marketplace?

[2021-01-12 17:58] Claudiohbsantos commented on #1
(I think I might have answered you on reddit just now)

I wasn't planning to but mostly because I hadn't even thought about that. I have never looked into developing extensions for firefox so I can't tell for sure but I think it should be a pretty straight forward port. If enough people show interest I'd be more than happy to research that. Also very happy to take Pull Requests for that into this

[2021-01-12 18:05] Samuel-Martineau commented on #1
It wasn't me who asked you about it on Reddit... Also, if I remember correctly, Firefox extensions are the same as Chrome extensions.

https://extensionworkshop.com/documentation/publish/package-your-extension/

[2021-01-12 18:37] Claudiohbsantos commented on #1
Oh, sorry, both messages came in pretty much at the same time so I thought it might be the same request.

Thanks for the link, that looks promising. Their compatibility tested actually reports the extension is compatible already so I'll try running it on firefox later today when I get a chance and if it works I'll try adding it to the firefox extensions

[2021-01-13 14:02] Claudiohbsantos commented on #1
Managed to add it to the firefox store: https://addons.mozilla.org/en-US/firefox/addon/material-icons-for-github/

thanks for the pointers!

I ran a quick test on firefox and it looks like it's running without a problem, but please don't hesitate to let me know if you notice any weirdness. Since that's not my main browser I won't use it enough to notice any quirks

[2021-01-13 14:02] #1 closed

[2021-01-13 14:03] callmetwan commented on #1
Wow, this was fast, thank you!!

[2021-01-13 14:05] Samuel-Martineau commented on #1
Thanks!

[2021-01-13 15:06] ehmicky commented on #1
This is great!
Would it be possible to submit it to https://addons.mozilla.org?

[2021-01-13 15:18] Claudiohbsantos commented on #1
Yeah, that is on the todo list for today. Just need to see if they have a badge I can use to keep the look similar to what is currently on the readme for the chrome web store.

[2021-03-16 12:38] MohamadKh75 opened #2 "Gitea & GitLab support"
Hey

Thanks for your great extension.

Do you have any plans to support Gitea and GitLab?

[2021-03-20 16:41] Claudiohbsantos commented on #2
I currently don't have any plans to support other platforms, mostly because I don't have any ongoing projects on either platforms right now. But I'd be happy to take PR's that extend the DOM selectors to match the appropriate elements in Gitea/GitLab.

[2021-06-01 12:51] kidonng opened #3 "Preserve symlink and submodule icons"
Symlinked folders/files (including submodules) have a different icon to indicate their type, but this extension doesn't preserve it.

Without extension:
![image](https://user-images.githubusercontent.com/44045911/120326239-19d73680-c31b-11eb-8aee-35108297adfb.png)

With extension:

![image](https://user-images.githubusercontent.com/44045911/120326321-307d8d80-c31b-11eb-8fdb-70686b91815b.png)

Test

[2021-06-02 21:05] Claudiohbsantos commented on #3
That's a very good point. The VSCode extension doesn't seem to need any special handling of symlinks because there is another indicator in the explorer for such files/folders, but in this case it becomes undistinguishable.

I'll look into how to painlessly skip modifying these icons without having to change the upstream icon mappings

[2021-06-19 19:35] shivapoudel opened #4 "Add support to change the languages icons"
Add support to configure languages and file associations just like we do in VSCode settings over here?

[code]

Suggestion: Although Chrome extension can be run on Edge but also is there any plan to release it for the MS Edge store!!

[2021-06-19 23:58] shivapoudel opened #5 "Nightly build to the extension"
Seems like many icons are missing in the browser but present in the VSCode with the respective material theme. Please do update the addon and if possible can the extension be auto-updated with some schedule using GitHub actions.

[2021-06-20 16:19] shivapoudel opened #6 "Docker related icons issue"
Docker icons are outdated maybe test the updates to icons will fix the issue.

![image](https://user-images.githubusercontent.com/3774827/122681312-578cf800-d213-11eb-8984-17fe99467bb3.png)

[2021-06-21 04:16] shivapoudel commented on #6
Reported [here](https://github.com/PKief/vscode-material-icon-theme/issues/1100) so closing here.

[2021-06-21 04:16] #6 closed

[2021-06-21 14:18] Claudiohbsantos commented on #5
You're right, looks like this is lagging 2 minor versions behind. I'll try to release an update tonight.

Last time I tried to automate the updates I couldn't find a good way to automate the release to the chrome store, which is the most time-consuming task of an update anyway. I'll check again to see if there are any new solutions around but please let me know if you know of any good workflows fo

[2021-06-21 14:23] Claudiohbsantos commented on #4
This looks interesting but to be honest I'll probably keep it in the icebox for a while. This would take significant work in terms of creating a user interface of some sort to expose these settings, and I'm not sure how many people have custom associations like that. Very happy to take PRs for the functionality if anyone wants to jump on it sooner though.

Re: Edge, this is the first request for M

[2021-06-21 14:36] shivapoudel commented on #4
@Claudiohbsantos I am new to browser extension development. So yesterday night I thought why not release a fork of this addon to the MS Edge also. I have give look to the codebase and understand how this extension work. So I think now you can release for the Edge too.

[2021-06-21 14:38] shivapoudel commented on #5
@Claudiohbsantos I have refactored the extension while studying the codebase yesterday night to develop for MS Edge. Can I submit the PR of those changes?

[2021-06-23 00:07] Claudiohbsantos opened #8 "Dark/Light theme detection"
Moving discussion from https://github.com/PKief/vscode-material-icon-theme/issues/1105 to here

[2021-06-23 07:55] shivapoudel commented on #8
Fixed https://github.com/Claudiohbsantos/github-material-icons-extension/pull/7/commits/dec3b8827f23f906cbcdb98ecbb1022cc0109f01

[2021-06-23 20:39] shivapoudel opened #9 "Sometimes icons will be missing"
I found if we have a large number of files present then sometimes icons get missing for files.

![image](https://user-images.githubusercontent.com/3774827/123164435-a8f6ea80-d492-11eb-910f-1005bea235ee.png)

[2021-06-23 20:58] shivapoudel commented on #4
@Claudiohbsantos I came with a simple idea let me share it with you, my friend :)

Most of the time we don't require icon pack-specific icons for GitHub for the sake of customization. But since my projects are highly based on React/Redux I used that icon pack. By default the VSCode material icon pack is angular and all our Github icons from this extension are being angular. TBH I have never worked

[2021-06-24 19:33] shivapoudel commented on #9
@Claudiohbsantos This issue was my development mistake in the current refactor branch. Loop was iterated multiple times causing this scenario. Since it has been fixed, I am closing this now :)

[2021-06-24 19:33] #9 closed

[2021-06-25 01:31] Claudiohbsantos commented on #8
Thanks! that's a great addition!

At some point it would be great to make this toggleable since I think the github profile settings override the browser preference, so there might be mismatch there. It's already an improvement over what we have though so it should probably come in a separate PR if we ever get to it

[2021-06-25 01:33] Claudiohbsantos commented on #4
I agree that the simplest solution for configuration here is the best.

[2021-06-28 00:53] shivapoudel opened #14 "Add support for Submodule directory"
Just like we do have custom icon support for Directory, there also exists a Submodule directory that should be looked after :)

![image](https://user-images.githubusercontent.com/3774827/123565073-5c394980-d7db-11eb-9108-35d76d72ac1a.png)

[2021-06-28 01:49] shivapoudel commented on #14
After the fix in https://github.com/shivapoudel/github-material-icons-extension/commit/6404f75fc6fd8708f3768f5f06a854a46b4a6950

![image](https://user-images.githubusercontent.com/3774827/123567927-f51f9300-d7e2-11eb-9447-6594484f9c1f.png)

[2021-06-29 21:49] 4086606 opened #15 "Per-repository language disambiguation"
https://github.com/mathworks/MATLAB-Language-grammar/tree/master/test is highlighted wrong for example

By [querying the API for the languages used in that repo](https://api.github.com/repos/mathworks/MATLAB-Language-grammar/languages), we can disambiguate between languages like `MATLAB` and `Objective-C`.

Extensions that need disambiguation are listed [here](https://github.com/github/linguist/bl

[2021-07-06 20:25] shivapoudel commented on #9
@Claudiohbsantos This is complete now solved with this commit https://github.com/Claudiohbsantos/github-material-icons-extension/pull/7/commits/1b4663b92ad08cb152ab5e1c5072498cc7a71fd4

[2021-07-11 03:39] arturoeh commented on #1
The extension is no longer available in the Firefox add-on market.

![Screenshot 2021-07-10 at 20 33 56](https://user-images.githubusercontent.com/40857565/125181891-27a39580-e1be-11eb-92b6-83b53ff39431.png)

[2021-07-14 01:48] #14 closed

[2021-07-14 01:55] shivapoudel commented on #8
@Claudiohbsantos We can close this as we now support this feature!

[2021-07-14 02:23] #8 closed

[2021-07-15 03:40] shivapoudel commented on #5
@Claudiohbsantos Let add zip assets via CI for the MS Edge store so I can submit them manually for an update. When are we gonna release the next update of the extension?

If we can submit it this week then it will be better!

[2021-07-16 04:04] Claudiohbsantos commented on #5
@shivapoudel I created a manual release until I finish the CD work: https://github.com/Claudiohbsantos/github-material-icons-extension/releases/tag/v1.4.0

I still have some hope of finishing the CD workflows this week, but I've ended up far busier than I expected so I thought it was safer to make a manual release just to get it out of the door already :)

[2021-07-17 02:22] Claudiohbsantos commented on #5
I just pushed a first attempt at auto-updates to the chrome and firefox stores. The action will also cut a new release whenever a new upstream version is found.

https://github.com/Claudiohbsantos/github-material-icons-extension/commit/8aec94d59c4779d213fd7417d6ba0837b333aabd

I'll be monitoring it for a bit to make sure it actually works, but I'm closing this issue since this should address it :)

[2021-07-17 02:22] #5 closed

[2021-07-17 02:26] Claudiohbsantos commented on #1
@arturoeh 🙈 I was racing to try to finish the last changes before updating the add-on. Looks like I lost the race, sorry.

I just submitted an updated version to the store, it is currently awaiting review (last time it took 1 day)

I also just pushed new github actions that should automatically update the store on new upstream versions, so this shouldn't happen again

[2021-07-21 02:06] Claudiohbsantos commented on #3
Submodules now show the "git" folder icon, and symlinks have a new custom icon. See image below for reference

![chrome_744kL8oHOo](https://user-images.githubusercontent.com/11323215/126419096-e9b5a8b8-dba3-4ef4-93cf-7cd3759bac52.png)

I'm closing this issue since this change should make it into the next release already. Thanks for opening it :)

[2021-07-21 02:06] #3 closed

[2021-07-21 05:02] kidonng commented on #3
Awesome! Thanks for your work.

[2021-08-05 20:34] KrlitosForever opened #19 "Why is the 5 of the html icon not white?"
I'd like to know, why isn't it white? in my dark theme it doesn't look good.

[2021-08-07 03:47] shivapoudel commented on #19
@KrlitosForever It is because the 5 word in the HTML SVG image is transparent thus it will look like this in the screenshot below and is intentional. See https://github.com/PKief/vscode-material-icon-theme/blob/main/icons/html.svg

![image](https://user-images.githubusercontent.com/3774827/128586706-c6da7910-3820-4109-b301-c63d5c1a9ac8.png)

At least for me, it is good enough and if you think this

[2021-08-07 03:50] shivapoudel opened #20 "Github action is broken for update upstream"
@Claudiohbsantos VSCode extension had been released but over this repo action, it is being broken. Can you please look into it?

[2021-08-07 06:02] Claudiohbsantos commented on #20
Yeah, just had a chance to take a look. The most immediate problem has just been fixed, I'll babysit it this weekend to make sure it works. Thanks for the heads up

[2021-08-07 19:01] Claudiohbsantos commented on #20
Just confirmed it is working now.

[2021-08-07 19:01] #20 closed

[2021-08-09 14:59] Claudiohbsantos commented on #2
@jamiehaywood Yeah, that sounds great to me. Just FYI: I'll be out of town next week so I might take a bit to see it if it arrives then, but I should be able to look at it asap after that

[2021-08-17 16:31] KrlitosForever commented on #19
Dear @shivapoudel , I want to thank the time you have dedicated to the explanation.
I also thank you for the diligence you responded.
I hope you have a good day. A hug.

[2021-08-17 16:31] #19 closed

[2021-08-18 14:12] KrlitosForever opened #21 "[icon request] html"
Dear Juan, nice to say hello, I would like to request that the 5 of html be white. Since for clear topics this is not affected. However on dark backgrounds this one looks much better. Comparative image attached.
Hoping for a good reception, I say goodbye.

![html5](https://user-images.githubusercontent.com/7423579/129913801-b0dfd831-e456-492a-ac72-e24cead2c387.png)

[2021-09-01 03:00] Claudiohbsantos commented on #21
Hey @KrlitosForever.

This repository doesn't handle individual icon changes because we pull all icons directly from the [VSCode Material Icon Theme](https://github.com/PKief/vscode-material-icon-theme)

Please open an issue on that repository if you'd like to see this changed, and this extension will automatically be updated if the upstream repository is updated

Thanks!

[2021-09-01 03:00] #21 closed

[2021-09-24 04:47] yan-almeida opened #22 "add support for Nestjs framework"
![image](https://user-images.githubusercontent.com/56321281/134619647-d4e2a08a-d038-4b9e-ab76-1a238c8b1511.png)

[2021-09-26 21:53] l-zeuch opened #23 "Firefox: Unable to Install: Appears to be corrupt"
**Firefox version:**
78.14.0esr

**Addon version:**
v1.4.2 (latest release as of now)

**Steps to reproduce:**
Follow the steps provided in the README:
* Download release for Firefox
* Install via `about:addons` -> "install from file"
* see error "appears to be corrupt" (screenshot attached)

![image of error](https://user-images.githubusercontent.com/71897876/134825434-90ad0897-547d-43f8-b6a4-140

[2021-09-29 01:32] Dvd-22 opened #24 "CSS logo should be consistent with the HTML logo"
![image](https://user-images.githubusercontent.com/75691650/135187570-2e406818-c880-4de3-bfde-47126ce79459.png)

As you can see, the CSS logo isn't consistent with the HTML one. The CSS logo should look something like this just to keep consistency between icons:
<image width="10%" src="https://user-images.githubusercontent.com/75691650/135187730-8fe52c2b-480f-487c-a632-633e061be6d6.png"></image>

[2021-09-29 01:35] Dvd-22 commented on #24
https://github.com/Claudiohbsantos/github-material-icons-extension/issues/21

I should've checked other issues first, sorry.

[2021-09-29 01:35] #24 closed

[2021-09-29 03:46] Claudiohbsantos commented on #23
Sorry about that, you are correct that the installatino doesn't work.

The extension is not corrupt, but firefox shows that (very unhelpful) message when attempting to install an unsigned extension. You can temporarily install the extension in debug mode by going to `about:debugging`. That's not very useful though because extensions loaded that way don't persist browser close/re-opens.

There seem

[2021-09-29 03:51] Claudiohbsantos commented on #23
I'm going to close this issue since there is nothing else I can do besides wait for review. Ill see if I can change the way the SVGs are loaded to avoid the need for manual reviews, but that's a bigger change that might not happen immediately. Thanks for the report!

[2021-09-29 03:51] #23 closed

[2021-09-29 03:56] Claudiohbsantos commented on #22
The [upstream project](https://github.com/PKief/vscode-material-icon-theme) that provides the icons seems to already include these icons. Can you confirm if the icons appear as expected in VSCode? If they appear in VSCode but not in github using this extension, could you point me towards a repository that I can use to confirm the behavior?

Thanks, just trying to make sure I understand if the issu

[2021-09-29 21:27] yan-almeida commented on #22
In my public repo: https://github.com/yan-almeida/desafio-eureka-web-api/tree/master/src/decorators

On vscode: ![image](https://user-images.githubusercontent.com/56321281/135350749-596d2979-b1f0-46c2-a64c-ca9654e1a298.png)

But in my vscode, I use this setting:   **"material-icon-theme.activeIconPack": "nest"**

[2021-09-30 00:11] Claudiohbsantos commented on #22
Thanks for these, this is very helpful!

I see. The extension doesn't currently support the the icons that are set explicitly with that setting. It is something that we discussed before but I haven't really had time to look too deeply into. I'll see if I can figure out why the vscode extension decided to make that an IconPack instead of part of the default mappings. If there are no conflicts, I'll

[2021-09-30 03:15] l-zeuch commented on #23
Thank you for your answer and the insight.

Really hope Mozilla reviews it ASAP, it's a super cool extension, thank you for your work!

[2021-10-09 16:24] sarrietav-dev opened #25 "Extension not found on Firefox Add-ons store"
### Oops! We can’t find that page

I installed the extension from source, and it works fine, but it would be cool if you guys solve this issue with Mozilla.

[2021-10-09 16:27] #25 closed

[2021-10-13 13:19] MrQUACKK opened #26 "The extension might have been removed from the firefox addons page."
Following the link in the README gets me to a page which basically says the extension no longer exists and it is not included in the search results when searching for it, as far as I can tell it is still on the chrome webstore and the edge addons page.
![2021-10-13-091837_1524x610_scrot](https://user-images.githubusercontent.com/80370416/137140517-f68ca072-44f1-4c22-a0f3-3cdae35e9d88.png)
![2021-1

[2021-10-27 13:13] kidonng opened #27 "Symlink and submodule icons won't show when items match a known extension"
Thanks for your efforts in resolving #3! Unfortunately when the items match a known extension:

![image](https://user-images.githubusercontent.com/44045911/139072501-c63f9d8d-86a6-440a-954b-12c4404f3098.png)

(https://github.com/svartalf/rust-battery/tree/master/battery)

...the symlink and submodule icons won't show:

![image](https://user-images.githubusercontent.com/44045911/139072470-1fdd0e38-

[2021-11-03 02:29] Claudiohbsantos commented on #27
![chrome_qJysH7hYaD](https://user-images.githubusercontent.com/11323215/140002281-3908f66e-b521-4533-a083-5977fba1e6e5.png)

Fix has been merged. Will be released with next changes soon

[2021-11-03 02:29] #27 closed

[2021-11-24 19:39] Claudiohbsantos commented on #2
@jamiehaywood Sorry, completely lost track of this over this last month. If you're still interested in taking this on I think the best approach would be to store the css selector for each supported website as a value in a dictionary and use the appropriate selector for the website that matches the current URL.

The core of that change would probably be around [here](https://github.com/Claudiohbsan

[2021-12-01 04:57] Claudiohbsantos commented on #1
I just finished a new version that should make it simpler for the extension to go through their review process. It's in the queue now, let's see how that goes 🤞

I'll check/answer any followup in #26 since that issue is still open. Feel free to followup there if it's not live/working in about a week.

Thanks for the reminder :)

[2021-12-01 05:01] Claudiohbsantos commented on #26
Ok, version 1.5.0 was just released and completely get's rid of `innerHTML`. I didn't notice any performance issues on Chrome so I'm crossing my fingers that this will be it. Submitted the new version to Firefox, let's see if this already gets this moving again.

Next step will be to stop using Parcel to bundle the extension just to simplify the project/reviews. This shouldn't be too hard, it's mo

[2021-12-01 05:09] Claudiohbsantos commented on #22
Small, unexciting update on this: Support for the icons themselves have already been merged in the beginning of Nov with [2c0e7d5ad66ad027580366d9718900e0429afe0a](https://github.com/Claudiohbsantos/github-material-icons-extension/commit/2c0e7d5ad66ad027580366d9718900e0429afe0a) . The issue here is that different iconPacks present different icons for the same filename (which is why the vscode exte

[2021-12-01 07:13] shahriaarrr opened #28 "Extension crashes in Opera browser"
Unfortunately, this extension failed in Opera browser and the icons did not load properly.
![image](https://user-images.githubusercontent.com/75499598/144188437-392fb7fc-56d5-45b2-bf4f-0bafa2ed093a.png)

[2021-12-01 16:13] Claudiohbsantos commented on #28
@shahriaarrr Did it use to work before yesterday (Nov 30 2021) ?

version 1.5.0 started making use of `chrome.runtime` API that is supported by chrome and Firefox but that I imagine might be a little more finicky with cross-browser support

[2021-12-02 05:31] shahriaarrr commented on #28
@Claudiohbsantos I installed the new version yesterday and this problem was fixed. Thanks for fixing this bug

[2021-12-02 07:02] Claudiohbsantos commented on #28
Awesome, glad to hear that.  Thanks for the report either way!

[2021-12-02 07:02] #28 closed

[2021-12-04 05:34] doongjohn opened #29 "icon for *.nims file"
`*.nims` is a [nimscript](https://nim-lang.org/docs/nims.html) file. It can use a same icon as `*.nim` file.

[2021-12-06 19:12] Claudiohbsantos commented on #26
Version 1.5.1 is live on the addons page 😌 . Closing this issue now. If there are any issues with v1.5.1 running in Firefox please open a new issue so I know it's a compatibility problem and not an addon review problem. Thanks!

[2021-12-06 19:12] #26 closed

[2021-12-08 18:29] Claudiohbsantos commented on #29
Hey @doongjohn . Thanks for the suggestion. I think this would be better handled upstream in the main VSCode extension where we pull icons/mappings from.

I could be mistaken but I think the necessary change would be [here](https://github.com/PKief/vscode-material-icon-theme/blob/251df153f6bcea76efa6a5fa2721cb3c6dce022e/src/icons/fileIcons.ts#L741). I'd suggest opening a PR upstream adding the `.n

[2022-03-08 03:01] YSCohen opened #30 "JSON show node icon?"
First off, excellent project, mad respect, etc.
Anyhow, why do JSON files show the Node.js logo?
![image](https://user-images.githubusercontent.com/78832113/157157937-df202586-ec8b-4787-ae4d-df97a3799a6e.png)

[2022-03-08 03:05] YSCohen commented on #30
My bad, I realized that these are Node JSONs

[2022-03-08 03:05] #30 closed

[2022-03-18 00:19] csandman opened #32 "ESLint config is broken"
While I was working on the PR I just submitted, I noticed that ESLint wasn't working.  I looked into it and it seems that there are a lot of issues with the setup.  First of all, `eslint-config-airbnb` is specifically for react projects, what you'd want to use is `eslint-config-airbnb-base`.  Because of that, the config is failing due to a missing dependency of `eslint-plugin-jsx-a11y` which is on

[2022-03-18 00:58] csandman commented on #32
Actually, I gave it a shot because I realized setting the `no-use-before-define` rule to not be called on function definitions to alleviated a lot of the pain points.  I pushed it to a branch if you want to see the result: https://github.com/csandman/github-material-icons-extension/commit/9364b83ddcf298ce7d2a9b49b6d6ea1a8bde6fcc

For the base of the config, I just removed what you had already and

[2022-04-20 11:18] christosnc opened #33 "Icon size improvement"
Hello,

This is a very nice extension!
I tried it and I immediately noticed an issue with the icons being too small compared to the original ones.

I added the following in main.js (after `const newSVG = document.createElement("img");`):
[code]

This makes it so much better IMO. Please try it out / consider this.

[2022-04-25 21:52] douglasgomes98 opened #34 "is it possible to copy the same configuration to vscode?"

[2022-05-17 04:13] shivapoudel opened #35 "Design flickers on hard reload on GitHub"
If I tried to hard reload the repository page with cached cleared this kind of design flicker is happening and soon gets disappeared. @Claudiohbsantos can you investigate this I tried but couldn't figure out the culprit styling.

![image](https://user-images.githubusercontent.com/3774827/168727189-735bc2c3-a97d-4571-a893-8158b732d938.png)

[2022-05-27 03:35] arguswaikhom opened #36 "GitHub enterprise support"
Can we have GitHub enterprise support on this extension?
e.g. github.x.com

I think making and option to add site access would do the job.

[2022-05-27 21:43] J4c5 opened #37 "add icon to fql"
hello icon material devs, I'm very satisfied with your icon theme, I love it I always use it, today I went to create a scraper with [ferret](https://www.montferret.dev/), using fql a declarative scraper language for ferret, but the file didn't have an icon, add one icone for fql files, if you want an image here is one: [image](https://www.montferret.dev/img/logo.png).

:heart:  Thank you, until ne

[2022-05-27 21:45] J4c5 commented on #37
note: I didn't do a PR to add an icon because I don't know how an icon theme works in vscode, so I opened an insue, I hope it's not a problem.

[2022-06-13 09:38] dovatti commented on #37
How'd you can see in [about section of readme](https://github.com/Claudiohbsantos/github-material-icons-extension#about) _all icons and file assignments on this project are pulled directly from [VS Code material icon theme](https://github.com/PKief/vscode-material-icon-theme)_, so you might not ask in here for adding an icon... 🙂

My advice is to open an issue in [here](https://github.com/PKief/vs

[2022-06-13 09:44] dovatti commented on #34
I think you're bit confused. You can't use [this icon extension](https://github.com/Claudiohbsantos/github-material-icons-extension) in `Visual Studio Code` because it's designed for `GitHub`.
Actually you can use the icon pack this extension uses: you can see check it out [here](https://github.com/PKief/vscode-material-icon-theme).

For installing it just go to `Visual Studio Code Marketplace` in

[2022-06-13 12:34] douglasgomes98 commented on #34
In fact, I managed to make it very similar, it was only necessary to add some settings in vscode.
`
 "workbench.iconTheme": "material-icon-theme",
 "material-icon-theme.folders.color": "#42a5f5",
 "material-icon-theme.activeIconPack": "react_redux",
`

thanks!

[2022-06-13 12:34] #34 closed

[2022-06-27 01:45] Claudiohbsantos commented on #36
Hey @arguswaikhom . Sorry, I'm very late to this issue.

Yeah, this sounds very reasonable. Do you have a link to an public enterprise repo I could use for testing (or do you know if that's even possible?).

[2022-06-27 02:42] Claudiohbsantos commented on #35
Hmmm.. Looks like we need to raise the number of icons that are handled synchronously on load. ([see this part of the code](https://github.com/Claudiohbsantos/github-material-icons-extension/blob/master/src/main.js#L22~L41)) No idea what changed to make this necessary. I just [pushed a change](https://github.com/Claudiohbsantos/github-material-icons-extension/commit/0598d68ed8170842bbc0c2171ffab8a

[2022-06-27 02:43] Claudiohbsantos commented on #35
I'm going to close this issue since I believe it is fixed by that commit. Feel free to mention me here if that turns out to not be fixed once this is released

[2022-06-27 02:43] #35 closed

[2022-06-27 02:43] #29 closed

[2022-06-27 03:01] Claudiohbsantos commented on #32
@csandman  Yeah, the linting configs on this repo have been long overdue for a fix, I just never spend long enough in it since the fixes are always fairly small so it always ends up being postponed 🙈.

Looks like I'm very late to this issue as well but I just checked your branch and it looks really good, thanks for putting time into it! If you wanna open a PR with those changes I'd be happy merge

[2022-06-27 03:08] Claudiohbsantos commented on #33
Hey @christosnc . Thanks for the suggestion and the code , I tried it out and I do indeed like the slight increase. I am a bit afraid of increasing the size though because all users are likely already used to the current size and a sudden increase might be the kind of change that is weird to people who have been using the extension for a long time.

Let me think about this for a second and see if

[2022-06-27 03:13] Claudiohbsantos commented on #37
Hey all! Yeah, unfortunately we don't really handle icon changes/requests on this repo since this only creates the browser extension that in turns uses the icons from the project @dovatti mentioned. Thanks for opening the issue @J4c5, I hope you manage to get it sorted upstream.

I'll close this issue since there is no action to be taken here.

[2022-06-27 03:13] #37 closed

[2022-06-27 19:22] csandman commented on #32
I'll definitely give that branch another look, and I can submit a PR after we get my other one merged in! That branch will have to be updated based on all the changes made in that PR.

[2022-06-29 03:05] Claudiohbsantos commented on #32
Sounds good to me! I just merged the azure/bitbucket PR to this should keep merge conflicts to a minimum

[2022-06-29 03:37] Claudiohbsantos commented on #2
With #31 now landed adding support for gitea is a breeze. I just added some basic support for gitea repositories that should go out with the next version. I still need to investigate the special submodule/symlink cases but I can add that as a follow up.

Like @csandman mentioned, gitlab already displays icons from the same upstream repository so I don't think there's value in supporting it now. I'

[2022-06-29 18:24] csandman commented on #2
@Claudiohbsantos I actually ended up trying to make a provider config for GitLab just to see how it looked and I think there might actually be some value to adding it.

Here is what it looks like without the extension:

<img width="1337" alt="image" src="https://user-images.githubusercontent.com/9214195/176507000-cd2b12a7-8ca3-4ef2-b8ca-c639d7c2474c.png">

And here is what it looks like with:

<im

[2022-06-30 01:18] Claudiohbsantos commented on #2
@csandman that's a good point, thanks for digging into it further.  Yeah, the lack of folder icons seems like a big difference. I'd definitely consider a PR with that provider. No rush though, I just started toying with an options page for users to easily enable/disable the extension on websites and I think gitlab support would pair well with that since I bet there'll be people who prefer the defa

[2022-06-30 01:51] Claudiohbsantos commented on #32
Closing this issue and moving discussion to #38

[2022-06-30 01:51] #32 closed

[2022-06-30 17:58] elijaholmos commented on #33
Hi, I would be interested in seeing this implemented. Perhaps there could be an extension setting that allows users to select the icon size from a list of options, "small", "medium", and "large". The current icon size that many users are used to could be the default size and maybe the "small" option. @christosnc's proposed adjustment could be "medium".

[2022-06-30 18:29] csandman commented on #2
Haha something like that, I was helping with the [`github-file-icons`](https://github.com/homerchen19/github-file-icons) project by implementing something similar to how you update your local assets. They were using a JS wrapper for their icon pack from NPM that was about two years outdated 😅. My original goal was to make an extension that offered a variety of icon packs on every git provider, but

[2022-07-01 02:36] Claudiohbsantos commented on #2
Thanks, I'm really glad to hear the code project looks good to people who are jumping into it. This codebase was born during a 24 hour hackaton so it was a gigantic hacky mess to start with lol. I'm happy you decided to jump into these other projects. The generalization into providers you added made it a breeze to add replacement to other pages that I honestly wouldn't have bothered investigating

[2022-07-01 03:58] Claudiohbsantos commented on #33
@elijaholmos That's a good idea. I'm working on an options page where this setting can be selected, along with some other options that would unblock a couple of other issues. My first goal is to fix the auto-release actions (because I'm bound to forget to check the version in the stores again ...) but this is the immediately next priority.

[2022-07-01 12:33] pxladin opened #39 "New permissions"
![image](https://user-images.githubusercontent.com/31286564/176895204-cce7ecdb-29a9-49d3-9d12-a597e417f55b.png)

What for?

[2022-07-01 13:04] jamiehaywood opened #40 "Support `visualstudio.com` url for Azure Repos"
I think this should be a fairly straightforward addition to the switch statement

[2022-07-01 19:29] csandman commented on #40
Can you give an example of a repo on azure that uses that structure?

[2022-07-01 19:31] eugabrielsilva commented on #39
Aparently the extension now also supports Azure DevOps and BitBucket too: https://github.com/Claudiohbsantos/github-material-icons-extension/pull/31, this requires a new set of permitted websites

Here is a screenshot of bitbucket
![image](https://user-images.githubusercontent.com/64693687/176958316-df9d99c5-c2a9-434d-95c0-ab8153b19ee7.png)

[2022-07-01 19:46] csandman commented on #33
I generally agree that making them bigger would be a nice improvement! Even just 18x18px looks a bit better.  There are two things to keep in mind though.

- Different Git providers use different default sizes (Bitbucket icons are large by default), so if you added an option for changing the sizes you'd need to make sure the custom sizes made sense for each site they were being applied to
- Genera

[2022-07-02 00:39] Claudiohbsantos commented on #39
Hey @pxladin ! Sorry about the scary notification. @eugabrielsilva  is correct, the difference is that the previous version only required access to github.com while now we also do the same with azure, gitea and bitbucket.

You can see the manifest with the permissions from the previous version [here](https://github.com/Claudiohbsantos/github-material-icons-extension/blob/v1.5.1/src/manifest.json)

[2022-07-02 02:17] Claudiohbsantos commented on #2
Closing this issue since discussion has moved to the PR (and I love the feeling of closing an Issue). Any follow-ups should be directed to the PR

[2022-07-02 02:17] #2 closed

[2022-07-02 02:22] Claudiohbsantos commented on #33
@csandman those are very good points.

Looking at our current providers I've been thinking about defining a multiplier/factor for each provider, and using that to multiply the "size" of the icons chosen by the user. This way we could have a "medium" icon that is slightly different in each provider to ensure it matches the size of the row.

Agreed that the default size should not affect row sizing

[2022-07-02 11:41] jamiehaywood commented on #40
we've got some internal projects at work that still use the `visualstudio.com` domain. It's exactly the same site as `dev.azure.com`, just different URI.

[2022-07-03 17:50] pxladin commented on #39
@Claudiohbsantos Ah, that makes sense. Thank you for clearing that up.

[2022-07-03 17:50] #39 closed

[2022-07-05 04:14] arguswaikhom commented on #36
Hello @Claudiohbsantos, I couldn't find a publicly accessible enterprise URL. It is usually required to use the company's VPN to access them.

Here is an example:

![Screenshot 2022-06-27 181505](https://user-images.githubusercontent.com/79929840/177248031-c7ff4eb5-42d4-483b-8a0e-54c2981877f8.jpg)

[2022-07-06 19:38] elijaholmos commented on #33
@csandman solid proof of concept! the approach you described sounds efficient, nice job.

I agree that different size settings per site would be convenient. perhaps there is a default setting that applies to all sites, then site-specific overrides that could be enabled. i.e. a user prefers the extra large icons on all sites by default (which may be different than the default that is shipped with t

[2022-07-11 14:53] Claudiohbsantos commented on #40
Thanks for jumping on this! I'll close this issue since we already have an approved PR tackling this request. Any other comments should be directed to the #42 until it is merged

[2022-07-17 02:56] Claudiohbsantos commented on #36
Turns out this is actually trickier than I would have imagined.

[match patterns](https://developer.chrome.com/docs/extensions/mv3/match_patterns/) only support matching a host and it's subdomains, the host with a specified subdomain or a blanket all hosts. In this case we'd need to have a match on the "enterprise" domain (`cerner` in this case). Since we can't predict what enterprise domains migh

[2022-07-17 05:03] Claudiohbsantos commented on #36
[webext-dynamic-content-scripts](https://github.com/fregante/webext-dynamic-content-scripts#usage) seems like maybe a good solution for this, and other extensions that need to support GHE seem to be using it to avoid requesting all host permissions. There seems to be ongoing work to support Manifest V3 so I'll just keep an eye on how that's going. Once that is released I'll give it a shot and if i

[2022-07-24 17:31] sujalgoel commented on #33
can you please increase the icon size? or make an option to set a custom size for all the icons

[2022-07-25 17:06] csandman commented on #33
@Claudiohbsantos I also realized that using a shared size across all git provider websites might be totally fine considering most people only really spend most of their time on one site.  Just a thought anyway!

[2022-07-28 03:56] Claudiohbsantos commented on #22
Ok, this is finally complete. I just pushed changes that include a new popup menu and options page that allows users to pick custom icon packs for use, including NestJS. This will be included in the next chrome store release, which should go out sometime this week

![iyGbZ7FDNX](https://user-images.githubusercontent.com/11323215/181416913-7a5263e9-7156-4791-80c9-3a0d65707222.gif)
.

[2022-07-28 03:56] #22 closed

[2022-07-28 04:04] Claudiohbsantos commented on #33
@csandman I agree, but I got a tad excited and went all out lol

I just merged a popup based on the branch you started (thanks for that, it was a massive head start) and an options page that allows providers to be customized individually.

![PyQ3zEiKbZ](https://user-images.githubusercontent.com/11323215/181417414-fe8814c7-2906-4b6e-9cbe-ac5c7f2c23ba.gif)

![chrome_YrYxa83U3t](https://user-images.g

[2022-07-28 04:04] #33 closed

[2022-07-28 22:48] csandman commented on #33
@Claudiohbsantos I'm glad you got some use out of my branch!  The changes look great!

One potential idea that you might want to implement is reloading the page when the icons are enabled/disabled.  It's simple enough to do using the `chrome.tabs.reload` function:

[code]

Up to you, just thought it might simplify things a bit!

[2022-07-29 01:40] Claudiohbsantos commented on #33
@csandman I actually had some similar code in at some point but decided to pull it out because I think unannounced page reloads have the potential to be a pain. For example: You are in the "Go to file" page and have a long complex filter typed that you've been using to narrow down to a specific set of files. You open the extension popup to increase the size of the icon because you want to take a s

[2022-07-29 01:50] csandman commented on #33
That's a fair point and something I had thought about, but my mind went more to writing our an issue, pr, or comment on one of those two.  And I realized GitHub actually saves the state of those text fields when you reload, which would reduce the likelihood of causing problems.  But thats Github and I have no idea how the rest of the providers would handle a reload.

I also would generally think t

[2022-07-30 13:52] jamiehaywood opened #43 "Fix release process"
It looks like the latest release didn't make it to the Chrome store due to the release action failing. Might be worth failing the pipeline if a task fails?

[2022-08-04 02:18] Claudiohbsantos commented on #43
Yeah, that's a little quirk of the current pipeline. Since I don't want to fail the pipeline if only one of the stores is updated the current solution ignores errors on the upload steps in the workflow. That's definitely not ideal but since nothing really depends on the results of these workflows I haven't invested too much time in splitting these tasks into properly isolated workflows that trigge

[2022-08-09 09:04] danielesk opened #44 "When will the sidebar icon theme extension be supported"
![image](https://user-images.githubusercontent.com/10652829/183609614-d9df09a0-c06b-469a-8ae6-f31493ec79bc.png)

[2022-08-10 03:10] Claudiohbsantos commented on #44
That screenshot looks like the Octotree sidebar extension, is that correct? If so it looks like that extension already supports using material icons. See if [this link](https://www.octotree.io/features#icon-themes) helps get that started.

[2022-08-10 03:34] danielesk commented on #44
@Claudiohbsantos  This feature is only available for paid users, not for free users

![image](https://user-images.githubusercontent.com/10652829/183807223-160896ac-a177-49da-ab1b-5771e5f79b57.png)

[2022-08-10 13:08] Claudiohbsantos commented on #44
@danielesk I see. Unfortunately since that sidebar is added by another extension we can't really handle it's icons. Besides that, since that seems to be part of their monetization model I wouldn't be comfortable bypassing it even if we found a way since that's their decision to make. Sorry about that.

I'll close this issue since I don't think there'll be any action taken here, thanks for opening

[2022-08-10 13:08] #44 closed

[2022-11-10 19:06] SaifAqqad opened #47 "Doesn't work on the new code view"
The new code view with the tree sidebar is in beta right now ([github docs](https://docs.github.com/en/repositories/working-with-files/managing-files/navigating-files-with-the-new-code-view)), but the extension doesn't work with it :(

![image](https://user-images.githubusercontent.com/47293197/201184103-a33d9f43-2bb2-48cd-9069-0bc6c0050200.png)

[2022-11-17 07:06] fabianamhof opened #48 "Add option for file prefixes"
To have all of our files sorted by type we name them type.*.ts. It would be great if we could specify this pattern in the settings of the extension.